parameters:
	ignoreErrors:
		-
			message: "#^Dead catch \\- Exception is never thrown in the try block\\.$#"
			count: 1
			path: src/Connection/PsrClientConnection.php

		-
			message: "#^Method Nucleos\\\\MatomoBundle\\\\Tests\\\\App\\\\AppKernel\\:\\:configureContainer\\(\\) has parameter \\$container with no type specified\\.$#"
			count: 1
			path: tests/App/AppKernel.php

		-
			message: "#^Method Nucleos\\\\MatomoBundle\\\\Tests\\\\App\\\\AppKernel\\:\\:configureContainer\\(\\) has parameter \\$loader with no type specified\\.$#"
			count: 1
			path: tests/App/AppKernel.php

		-
			message: "#^Method Nucleos\\\\MatomoBundle\\\\Tests\\\\App\\\\AppKernel\\:\\:configureRoutes\\(\\) has parameter \\$routes with no type specified\\.$#"
			count: 1
			path: tests/App/AppKernel.php

		-
			message: "#^Call to method getResponse\\(\\) on an unknown class Symfony\\\\Component\\\\HttpKernel\\\\Client\\.$#"
			count: 1
			path: tests/Block/BlockServiceIntegrationTest.php

		-
			message: "#^Call to method request\\(\\) on an unknown class Symfony\\\\Component\\\\HttpKernel\\\\Client\\.$#"
			count: 1
			path: tests/Block/BlockServiceIntegrationTest.php

		-
			message: "#^Instantiated class Symfony\\\\Component\\\\HttpKernel\\\\Client not found\\.$#"
			count: 1
			path: tests/Block/BlockServiceIntegrationTest.php

		-
			message: "#^Parameter \\#2 \\$haystack of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertCount\\(\\) expects Countable\\|iterable, array\\|string given\\.$#"
			count: 2
			path: tests/Client/ClientTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Twig\\\\\\\\TwigFunction' and Twig\\\\TwigFunction will always evaluate to true\\.$#"
			count: 1
			path: tests/Twig/Extension/MatomoTwigExtensionTest.php

