parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method scalarNode\\(\\) on Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeParentInterface\\|null\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Instantiated class Symfony\\\\Component\\\\HttpKernel\\\\Client not found\\.$#"
			count: 1
			path: tests/Block/BlockServiceIntegrationTest.php

		-
			message: "#^Call to method request\\(\\) on an unknown class Symfony\\\\Component\\\\HttpKernel\\\\Client\\.$#"
			count: 1
			path: tests/Block/BlockServiceIntegrationTest.php

		-
			message: "#^Call to method getResponse\\(\\) on an unknown class Symfony\\\\Component\\\\HttpKernel\\\\Client\\.$#"
			count: 1
			path: tests/Block/BlockServiceIntegrationTest.php

		-
			message: "#^Parameter \\#1 \\$connection of class Nucleos\\\\MatomoBundle\\\\Client\\\\Client constructor expects Nucleos\\\\MatomoBundle\\\\Connection\\\\ConnectionInterface, object given\\.$#"
			count: 4
			path: tests/Client/ClientTest.php

		-
			message: "#^Parameter \\#1 \\$client of class Nucleos\\\\MatomoBundle\\\\Client\\\\PsrClientFactory constructor expects Psr\\\\Http\\\\Client\\\\ClientInterface, object given\\.$#"
			count: 1
			path: tests/Client/PsrClientFactoryTest.php

		-
			message: "#^Parameter \\#2 \\$requestFactory of class Nucleos\\\\MatomoBundle\\\\Client\\\\PsrClientFactory constructor expects Psr\\\\Http\\\\Message\\\\RequestFactoryInterface, object given\\.$#"
			count: 1
			path: tests/Client/PsrClientFactoryTest.php

		-
			message: "#^Parameter \\#1 \\$client of class Nucleos\\\\MatomoBundle\\\\Connection\\\\PsrClientConnection constructor expects Psr\\\\Http\\\\Client\\\\ClientInterface, object given\\.$#"
			count: 7
			path: tests/Connection/PsrClientConnectionTest.php

		-
			message: "#^Parameter \\#2 \\$requestFactory of class Nucleos\\\\MatomoBundle\\\\Connection\\\\PsrClientConnection constructor expects Psr\\\\Http\\\\Message\\\\RequestFactoryInterface, object given\\.$#"
			count: 7
			path: tests/Connection/PsrClientConnectionTest.php

		-
			message: "#^Parameter \\#1 \\$environment of class Nucleos\\\\MatomoBundle\\\\Twig\\\\Extension\\\\MatomoTwigExtension constructor expects Twig\\\\Environment, object given\\.$#"
			count: 3
			path: tests/Twig/Extension/MatomoTwigExtensionTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Twig\\\\\\\\TwigFunction' and Twig\\\\TwigFunction will always evaluate to true\\.$#"
			count: 1
			path: tests/Twig/Extension/MatomoTwigExtensionTest.php

