<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body>

{{ sonata_block_render({ 'type': 'nucleos_matomo.block.statistic' }, {
}) }}

{{ sonata_block_render({ 'type': 'nucleos_matomo.block.tracker' }, {
}) }}

</body>
</html>
